<div class="container d-flex flex-column">
  <div class="d-flex flex-row justify-content-center m-3">
    <h1>Test</h1>
  </div>
  <div class="d-flex flex-column">
    <form method="get" id="this">
      <div class="m-2">
        <h6><%= Question.find(1).id %>. <%= Question.find(1).content %></h6>
      </div>
      <div class="m-1">
        <input type="radio" id='<%= Answer.find(1).id %>'
                            name='<%= Question.find(1).id %>' 
                            value='<%= Answer.find(1).id %>'>
        <label for='<%= Answer.find(1).id %>'>
          <%= Answer.find(1).option %>
        </label><br>

        <input type="radio" id='<%= Answer.find(2).id %>'
                            name='<%= Question.find(1).id %>' 
                            value='<%= Answer.find(2).id %>'>
        <label for='<%= Answer.find(2).id %>'>
          <%= Answer.find(2).option %>
        </label><br>

        <input type="radio" id='<%= Answer.find(3).id %>'
                            name='<%= Question.find(1).id %>' 
                            value='<%= Answer.find(3).id %>'>
        <label for='<%= Answer.find(3).id %>'>
          <%= Answer.find(3).option %>
        </label><br>
      </div>

      <div class="m-2">
        <h6><%= Question.find(2).id %>. <%= Question.find(2).content %></h6>
      </div>
      <div class="m-1">
        <input type="radio" id='<%= Answer.find(4).id %>'
                            name='<%= Question.find(2).id %>' 
                            value='<%= Answer.find(4).id %>'>
        <label for='<%= Answer.find(4).id %>'>
          <%= Answer.find(4).option %>
        </label><br>

        <input type="radio" id='<%= Answer.find(5).id %>'
                            name='<%= Question.find(2).id %>' 
                            value='<%= Answer.find(5).id %>'>
        <label for='<%= Answer.find(5).id %>'>
          <%= Answer.find(5).option %>
        </label><br>

        <input type="radio" id='<%= Answer.find(6).id %>'
                            name='<%= Question.find(2).id %>' 
                            value='<%= Answer.find(6).id %>'>
        <label for='<%= Answer.find(6).id %>'>
          <%= Answer.find(6).option %>
        </label><br>
      </div>

      <div class="d-flex flex-row justify-content-center">
        <%= link_to 'Submit', @test, 
                              class: "btn btn-outline-success",
                              form: "this" %>
      </div>
    </form>
  </div>
</div>

<%= console %>